*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'poppins' sans-serif;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background-image: url(https://c4.wallpaperflare.com/wallpaper/644/305/118/pattern-black-gradient-texture-wallpaper-preview.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.logo{
    width: 150px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.wrapper {
    background-color: rgba(0, 0, 0, 0.705);
    width: 100%;
    height: 100%;
    border-radius: 15px;
    border: 1px solid white;
}
.wrapper-login {
    background-color: rgba(0, 0, 0, 0.705);
   /* width: 460px;*/
   /* height: 100%; */
    border-radius: 15px;
    border: 1px solid white;
}
/* Reset some default styles */

.file-label {
    background-color: #007bff;
    color: #fff;
    border: none;
    width: 35px;
    height: 35px;
    border-radius: 5px;
    padding: 8px 10px;
    margin-left: 5px;
    cursor: pointer;
}

.file-label i {
    color: #ffffff;
}

.file-attachment img {
    max-width: 100%;
    height: auto;
    margin-top: 10px;
    border-radius: 5px;
}


/*style for button input file */

input, textarea {
    font-size: 16px;
}
.button-wrapper {
    position: relative;
    width: 150px;
    text-align: center;
    margin: 2% auto;
  }
  
  .button-wrapper span.label {
    position: relative;
    z-index: 0;
    display: inline-block;
    width: 100%;
    background: #000000;
    border-radius: 10px;
    border: 1px solid white;
    cursor: pointer;
    color: #fff;
    padding: 10px 0;
    text-transform:uppercase;
    font-size:12px;
  }
  
  #image {
      display: inline-block;
      position: absolute;
      z-index: 1;
      width: 100%;
      height: 50px;
      top: 0;
      left: 0;
      opacity: 0;
      cursor: pointer;
  }

/* Style the form */
.signup {
    text-align: center;
}
.chat-header {
    font-size: 24px;
    font-weight: bold;
    color: #fafafa; /* Text color */
    padding: 10px;
    text-align: center; /* Center the text horizontally */
}

header {
    font-size: 18px;
    margin-bottom: 20px;
}

form {
    margin-bottom: 20px;
}
.error-text {
    color: #FF0000; /* Red color for error text */
    font-size: 16px;
    font-weight: bold;
    background-color: #FFDDDD; /* Light red background color */
    padding: 10px; /* Add some padding to the text */
    border: 1px solid #FF0000; /* Red border */
    border-radius: 5px; /* Rounded corners */
    text-align: center; /* Center the text horizontally */
    margin: 10px; /* Add some margin to separate it from other elements */
}


.name-details {
    /* display: flex; */
    flex-wrap: wrap;
    justify-content: center;
}

.form-row {
    display: flex;
    justify-content: space-between;
    margin: 8px;
}

.field {
    flex: 1;
    margin-right: 8px;
    text-align: center;
    color: white;
}

label {
    display: block;
    font-weight: 600;
}



input[type="text"],
input[type="email"],
input[type="password"],
input[type="file"] {

    padding: 10px;
    margin: 5px;
    width: 270px;
    height: 38px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="submit"] {
    background-color: #007BFF;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: 600;
}

.link {
    font-size: 18px;
    text-align: center;
    padding: 15px;
    color: white;
}

a {
    text-decoration: none;
    color: #007BFF;
}

/* Hover effect for the button and links */
input[type="submit"]:hover
{
    background-color: #0056b3;
}
/* Style for the button */
.telegram-button {
    background-color: #0088cc; /* Choose a color you like */
    color: #fff; /* Text color */
    border: none;
    padding: 10px 20px; /* Adjust padding to your preference */
    border-radius: 5px; /* Rounded corners */
    cursor: pointer;
    transition: background-color 0.3s ease; /* Smooth color transition on hover */
}

/* Hover effect */
.telegram-button:hover {
    background-color: #005799; /* Darker color on hover */
}

/* Style for the icon */
.telegram-button i {
    margin-right: 5px; /* Add some space between the icon and text */
    font-size: 20px; /* Adjust the icon size to your preference */
}

/* Style for the button */
.search-button {
    background-color: #2c3e50; /* Background color of the button */
    color: #ffffff; /* Text color */
    border: none;
    padding: 13px 10px; /* Adjust the padding as needed */
    border-radius: 5px; /* Rounded corners */
    cursor: pointer;
    margin: 5 0 0;
    height: 45px;
    transition: background-color 0.3s ease; /* Smooth color transition on hover */
}

/* Hover effect */
.search-button:hover {
    background-color: #34495e; /* Darker background color on hover */
}

/* Style for the icon */
.search-button i {
    margin-right: 5px; /* Add some space between the icon and text */
    font-size: 20px; /* Adjust the icon size as needed */
}

/* users area css */

.users {
    padding: 10px;
    height: auto;
    border-radius: 15px;
   /* Add this property to make the container scrollable */
}

.users-list{
    overflow: auto;
    height: 300px;
    color: white;
}
.users header,
.users-list a{
    display: flex;
    align-items: center;
    padding-bottom: 20px;
    justify-content: space-between;
    border-bottom: 1px solid black;
    color: white;
}

.wrapper img{
    object-fit: cover;
    border-radius: 50%;
    padding-right: 5px;
}
.users header .content img{
    height: 50px;
    width: 50px;
}


.users header .details {
    margin-right: 15px; /* Changed from margin-left to margin-right */
    text-align: right; /* Added to align text to the right */
}

.users header .details span {
    font-size: 18px;
    font-weight: 500;
    color: white;
}
.users header .details1 {
    margin-right: 15px; /* Changed from margin-left to margin-right */
    text-align: right; /* Added to align text to the right */
}

.users header .details1 span {
    font-size: 18px;
    font-weight: 500;
    color: rgb(0, 0, 0);
}

.content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px; /* Adjust the padding as needed */
}
.users header .logout{
    color: rgb(0, 0, 0);
    font-size: 17px;
    padding: 10px;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
}

.users header .update{
    color: rgb(0, 0, 0);
    font-size: 17px;
    padding: 10px;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
}
.users .search{
    margin: 20px 0;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-between;
}
.users .search .text{
    font-size: 18px;
}
.users .search input{
    position: absolute;
    height: 42px;
    width: calc(100% - 50px);
    border: 1px solid #ccc;
    padding: 1 13px;
    border-radius: 5px;
    outline: none;
}

.users-list{
 max-height: 450px;
 overflow-y: auto;
}
.users-list.users-list::-weebkit-scrollbar{
    width: 0;
}
.users-list a{
    margin-bottom: 10px;
    page-break-after: 1;
    padding-right: 15px;
    border-bottom-color: #f1f1f1;

}
.users-list a:last-child{
    border: none;
    margin-bottom: 0;
}
.users-list a .content img{
    height: 40px;
    width: 40px;
}
.users-list a .content p {
    color: #67676a;
}
.users-list a .status-dot{
    font-size: 12px;
    color: #468660
}
/* do ta perdorim per user offline */
.users-list a .status-dot.offline{
    color: #ccc
}

/* pjesa e chatit css*/
.chat-area{
    height: 90%;
}
.chat-area header{
    display: flex;
    color: white;
    align-items: center;
    padding: 18px 30px;
}

.chat-area header .back-icon{
    font-size: 36px;
    margin-right: 5px;
    color: #ffffff;
}
.chat-area header img{
    height: 45px;
    width: 45px;
}
.chat-area header span{
    font-size: 17px;
    font-weight: 500;
}

/* Style for the chat box container */
.chat-box {
    display: flex;
    flex-direction: column;
    max-width: 90%;
    height: 80%;
    margin: 0 auto;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background: none;
    color: black;
    /* height: 370px; */
    overflow: auto;
}
  .chat-box .chat p{
    word-wrap: break-word;
    padding: 8px 16px;
    color:black;
    box-shadow:  0 0 5px rgb(255, 255, 255);
  }
  /* Style for outgoing messages */
  .chat.outgoing {

    text-align: right;
    margin: 0;
  }
  
  /* Style for incoming messages */
  .chat.incoming {
    text-align: left;
    margin: 0;
  }
  
  /* Style for chat message text */
  .chat .details p {
    padding: 5px;
    
    border-radius: 5px;
    display: inline-block;
    max-width: 50%;
    color: white;
  }
  /* Style for chat message text */
  .incoming-chat{
    background-color: #000000;
  }
  .outgoing-chat{
    background-color: #468660;
  }
  /* Style for the image inside incoming messages */
  .chat.incoming img {
    max-width: 25px; /* Adjust as needed */
    border-radius: 0%;
  }
  .chat.outgoing img {
    max-width: 25px; /* Adjust as needed */
    border-radius: 0%;
  }
  
  /* Style for the typing area */
  .typing-area {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;

    border-top: 1px solid #ccc;
    padding: 10px;
  }
  
  .typing-area input {
    flex: 1;
    padding: 10px;
    width: 100px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .typing-area button {
    background-color: #007bff;
    color: #fff;
    border: none;
    width: 35px;
    height: 35px;
    border-radius: 5px;
    padding: 5px 10px;
    margin-left: 5px;
    cursor: pointer;
  }
  .message-time {
    font-size: 10px;
    color: #d8d8d8;
    display: block; /* Vendoseni në blok që të shfaqet në rresat e ndryshme */
    margin-top: 6px; /* Lartësia prej 6 pikselëve nga teksti i mesazhit */
}

  
@media (max-width: 800px) {
.wrapper {
    background-color: rgba(0, 0, 0, 0.705);
    width: 100%;
    height: 100%;
    border-radius: 0;
    border: 1px solid white;
}
.chat-area {
    height: 80%;
    width: 100%;
}
   .chat-box {
    display: flex;
    flex-direction: column;
    max-width: 90%;
    height: 80%;
    margin: 0 auto;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background: none;
    color: black;
    /* height: 370px; */
    overflow: auto;
} 
}


  /* Adjust the styling to your preferences, such as colors, fonts, and sizes. */
  @media (max-width: 450px) {
    body {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
    }
    
    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 100%;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .wrapper {
        background-color: rgba(0, 0, 0, 0.705);
        width: 100%;
        height: 100%;
        border-radius: 0;
        
    }

    .wrapper-login {
        background-color: none;
        width: 100%;
        /* height: 100%;  */
        border-radius: none;
        border: none;
        margin: 0 auto;
        /*display: flex;*/
        justify-content: center;
        align-items: center;
    }

    .chat-box {
        display: flex;
        flex-direction: column;
        max-width:100%;
        position: sticky;
        height: 79%;
        margin: 0 auto;
        padding: 10px;
        border: 0px solid #ccc;
        border-radius: 5px;
        color: black;
        overflow: auto;
      }
      .chat-area{
        height:100%;
    }
    .chat-area header{
        position: sticky;
    display: flex;
    color: white;
    align-items: center;
    padding: 18px 30px;
    height: 8%;
}

    .typing-area {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 10px;
        border-top: 1px solid #ccc;
        padding: 10px;
        height: 7%;
      }
      .chat-area header .back-icon{
        font-size: 20px;
        margin-right: 5px;
        color: #ffffff;
    }
    .form-row {
        flex-direction: column; /* Change to a single column layout for smaller screens */
    }

    .field {
        flex: none; 
        margin: 0; /* Remove margin between fields */
        width: 100%; /* Expand the field to full width */
    }
    .name-details {
        display:block;
        flex-wrap: wrap;
        justify-content: center;
    }
    
    .users header .details span {
        font-size: 14px;
        font-weight: 500;
        color: white;
    }
  }